body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
h1 {
    text-align: center;
    color: #007bff;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Estilo para las imágenes */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}



/* Añadir padding a la página principal */
.container {
    padding: 10px;
}

/* Estilo para el contenedor principal */
.container-fluid {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 10px;
}

/* Estilo para el pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}