body {
    background-color: #f7f9fc;
    font-family: 'Arial', sans-serif;
}

/* Estilo del contenedor principal */
.container {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #5b9aa0 !important;
}
.navbar-brand{
    color: white !important;
}
button#perfilMenu{
    color: black !important;;
    background-color: #ffffff;
    border-color: #ffffff;
}

/* Título principal */
h2 {
    color: #5b9aa0;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.table {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.table th {
    background-color: #5b9aa0;
    color: white;
    text-align: center;
}

.table td {
    text-align: center;
    color: #333;
}

/* Separador entre los grupos de filas */
.table-group-divider {
    border-top: 2px solid #5b9aa0;
}

.flecha-regresar {
    display: inline-flex;
    align-items: center;
    background-color: #5b9aa0;
    border: 1px solid #ced4da;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
}

.flecha-regresar i {
    margin-right: 5px;
}

.flecha-regresar:hover {
    background-color: #e2e6ea;
    color: #2d5d8d;
}
